<% @searches.each do |search| %>

  <p>Name: <%= search.station_name %></p>
  <p>Address: <%= "#{search.street_address} #{search.city}, #{search.state}" %></p>
  <p>Fuel type: <%= search.fuel_type_code %></p>
  <p>Distance: <%= "#{search.distance} miles" %></p>
  <p>Access Times: <%= search.access_days_time %></p>
  <br>
<% end %>
